.footer{
  background-color: $additional-color-light;
  font-size:16px;
  display: flex;
  justify-content: center;
  gap: 10px;
  height:50px;
  align-items: center;
}

.author__link{
  color: $additional-color;
}

.rs-school{
  display:block;
  background: url(https://rs.school/images/rs_school_js.svg) no-repeat center;
  width:100px;
  height:50px;
}