.header{
  background-color: $additional-color;
  border-bottom: 5px solid $specific-color;
  color:$primary-color;
  display:flex;
  justify-content:space-around;
}

.header__logo{
  display:flex;
}

.logo{
  gap:10px;
}

.logo__image{
  mask: url('./components/img/logo-image.svg') no-repeat 50% 50%;
  -webkit-mask: url('./components/img/logo-image.svg') no-repeat 50% 50%;
  mask-size: 75px;
  -webkit-mask-size: 75px;
  background-color: $primary-color;
  color:white;
  width:100px;
  
}


.shopping-cart{
  mask: url('./components/img/shopping-cart.svg') no-repeat 50% 50%;
  -webkit-mask: url('./components/img/shopping-cart.svg') no-repeat 50% 50%;
  mask-size: 50px;
  -webkit-mask-size: 50px;
  background-color: $primary-color;
  color:white;
  width:100px;

}