.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}

.product {
  border: 1px solid $additional-color-light;
  border-radius: 3px;
  width: 250px;
  font-size: 16px;

  &__image {
    width: 100%;
  }
}
