@import './components/styles/variables';
@import './components/styles/header';
@import './components/styles/filters';
@import './components/styles/buttons';
@import './components/styles/selects';
@import './components/styles/products';

body {
  margin: 0;
  background-color: $primary-color;
  font-family: monospace;
}

.wrapper {
  margin: auto;
}

.products {
  margin-top: 100px;
}
